@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500")
@import "~normalize.css/normalize"

html
	font-family: Roboto

	&.standalone
		background: #3f51b5

		&, body
			height: 100%

		#root
			background: white
			min-height: 100%
