@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500")
@import "~normalize.css/normalize"

html
	font-family: Roboto

#settings
	margin: auto
	max-width: 750px

// i'm not sure if this will break anything
div[class*=MuiGrid-spacing]
	width: 100% !important
	margin: 0
